.container {
   display: flex;
   min-width: 100vw;
   min-height: calc(100vh - 4em);
   flex-direction: column;
   margin-top: 4em;
}

.authContainer {
   display: flex;
   min-width: 100vw;
   min-height: 100vh;
   flex-direction: column;
   background-color: #FAFCFF;
}