@import "./scss/mediaVar.scss";
@import "./components/Drawer/DrawerVar.scss";

.mainContainer {
   flex-direction: column;
   display: flex;
}

.container {
   display: flex;
   min-width: 100vw;
   min-height: calc(100vh - 4em);
   flex-direction: column;
   margin-top: 4em;
}

.authContainer {
   display: flex;
   min-width: 100vw;
   min-height: 100vh;
   flex-direction: column;
   background-color: #FAFCFF;
}

@media (min-width: $minMobile) {
   .mainContainer {
      flex-direction: row;
   }
   .container {
      margin-left: $drawerWidth;
      min-width: calc(100vw - #{$drawerWidth});
      min-height: 100vh;
      margin-top: 0;
   }
}

@media (min-width: $minLaptop) {
   .container {
      margin-left: $laptopDrawerWidth;
      min-width: calc(100vw - #{$laptopDrawerWidth});
   }
}


@media (min-width: $minDesktop) {
   .container {
      margin-left: $desktopDrawerWidth;
      min-width: calc(100vw - #{$desktopDrawerWidth});
   }
}