@import "../../scss/mediaVar.scss";
@import "../../scss/colorsVar.scss";



.container {
   display: flex;
   flex-direction: column;
   flex: 1;
   background-color: $backgroundGray;
}

.routeAndButton {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.routeWrapper {
   display: flex;
   justify-content: space-between;
   margin: .5em 0;
   width: 100%;
}

.routeTab {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1em .0px;
   font-family: 'Poppins';
   font-weight: bold;
   flex-direction: column;
}

.routeTabActive {
   color: #6AC7BE;
}

.underLine {
   border: 1px solid #6AC7BE;
   width: 1.5em;
   box-shadow: 0px 3px 4px rgba(106, 199, 190, 0.3);
}

.content {
   padding: 0px 1em;
}

.button {
   padding: .5em 0px;
   width: 80%;
}

.buttonText {
   color: #fff;
   font-size: 16px;
}

.stuffCard {   
   margin: 1em 0;
}


@media (min-width: $minMobile) {
   .routeAndButton {
      flex-direction: row;
   }

   .button {
      width: 20%;
      margin: 1em;
      height: 2em;
      margin-left: 2em;
   }

   .routeWrapper {
      width: 80%;
   }
}