@import "../../scss/mediaVar.scss";
@import "./SequenceVar.scss";
@import "../../components/DndRoomCard/DndRoomCardVar.scss";
@import "../../components/Drawer/DrawerVar.scss";
@import "../../scss/colorsVar.scss";



.container {
   padding: $paddingCont;
   background-color: $backgroundGray;
   flex: 1;
   display: flex;
   flex-direction: column;
}

.title {
   font-weight: 900;
   margin: 1em 0px;
}

.select {
   width: 80%;
}

.dndContainer {
   display: flex;
   flex-wrap: wrap;
   border: 1px dashed #6AC7BE;
   margin: 1em 0px;
   background-color: #FBFBFF;
   padding: 1em 0;
   border-radius: 3px;
}


.dndCenterText {
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
   margin: 3em 0;
}

.dndContWithRoom {

   justify-content: flex-start;
   align-items: flex-start;
}

.dndText {
   color: #6AC7BE;
   font-family: 'Poppins';
   font-style: normal;
}

.dndTitle {
   font-weight: 900;
   margin: 1em 0px;
}

.dndCardWrapper {
   display: flex;
   flex-flow: row wrap;
}

/* .dndCardWrapper::after {
   content: "";
   width: 66%
} */

.circlePlusWrapper {
   @include cardWidth($numOfCardInOneLineMobile, 100vw);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0 6px;
   box-sizing: border-box;
}

.circlePlus {
   width: 2.5em;
   height: 2.5em;
   border-radius: 50%;
   background: #6AC7BE;
   justify-content: center;
   align-items: center;
   display: flex;
   
}

.plus {
   width: 1.5em;
   height: 2px;
   background-color: #fff;
}

.minus {
   width: 2px;
   height: 1.5em;
   background-color: #fff;
   position: absolute;
}

.addText {
   color: #6AC7BE;
   text-align: center;
   font-size: 13px;
   margin-top: .3em;

}

.buttonText {
   color: #fff;
   padding: .5em 0;
}

.buttonAndSelect {
   display: flex;
   flex-direction: column;
}

.selecAndTitle {
   display: flex;
   flex-direction: column;

}


@media (min-width: $minMobile) {
   .circlePlusWrapper {
      @include cardWidth($numOfCardInOneLineTablet, 100vw - $drawerWidth)
   }

   .buttonAndSelect {
      flex-direction: row;
      justify-content: space-between;
   }

   .selecAndTitle {
      width: 50%;
   }

   .button {
      display: flex;
      order: 3;
      width: 20%;
      height: 3em;
   }
}

@media (min-width: $minLaptop) {
   .circlePlusWrapper {
      @include cardWidth($numOfCardInOneLineLaptop, 100vw - $laptopDrawerWidth)
   }
}

@media (min-width: $minDesktop) {
   .circlePlusWrapper {
      @include cardWidth($numOfCardInOneLineLaptop, 100vw - $desktopDrawerWidth)
   }
}