@import "../../scss/mediaVar.scss";
@import "../../scss/colorsVar.scss";


.container {
   padding: 1em;
   background-color: $backgroundGray;
   flex: 1;
   display: flex;
   flex-direction: column;
}


.button {
   padding: .5em 0px;
}

.buttonText {
   color: #fff;
   font-size: 16px;
}

.statusCard {
      margin-top: 1em;
}


.statusCardWrapper {}


@media (min-width: $minMobile) {
   .button {
      height: 2em;
      width: 25vw;
      align-self: flex-end;
   }

   .statusCardWrapper {
      padding: 5vw;
   } 
}


@media (min-width: $minDesktop) {
   .button {
      width: 20%;
   }

   .statusCardWrapper {
      padding: 5vw 20vw;
   } 
}

