@import "../../scss/mediaVar.scss";

.container {
   padding: 1.2em;
   background-color: #f6f6ff;
   margin-bottom: 1em;
}

.nameAndReset {
   display: flex;
   justify-content: space-between;
}


.name {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
}

.reset {
   border: 1px solid #6ac7be;
   box-sizing: border-box;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0% 1em;
}

.resetText {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   color: #6ac7be;
   margin: 0%;
}

.jobName {
   color: #4f4f4f;
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   margin-bottom: 1em;
}

.lineWrapper {
   border-top: 1px solid #c0e7e5;
   padding-top: 1em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.iterator {
   display: flex;
   justify-content: space-between;
   flex: 0.5;
}

.plusMinus {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
}

.iteratorText {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   color: #fc7e55;
}

.stopLine {
   border: 1px solid #fc7e55;
   box-sizing: border-box;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0% 1em;
}

.stopLineText {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   color: #fc7e55;
   margin: 0%;
}

.inLine {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   color: #969696;
   margin: 0%;
   align-self: center;
}

.statusCards {
   margin-top: 2em;
   padding-bottom: 1em;
   display: flex;
   white-space: nowrap;
   overflow-y: auto;
}

@media (min-width: $minMobile) {
   .container {
      display: flex;
      flex-direction: row;
   }
   .contentWrapper {
      padding: 0 1em;   
   }

   .plusMinus {
      padding: 0 .5em;
   }

   .statusCards {
      margin-left: 1em;
      flex: .65;
   }

   .infoWrapper {
      flex: .35;
      flex-direction: column;
      display: flex;
   }
}
